<!DOCTYPE html>
<!-- template from CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartSnap Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class=form>
  <div class="center">
    <h1>Let us get to know you</h1>
    <form method="post">
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Weekly Snap Budget ($)</label>
      </div>
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Extra Budget ($)</label>
      </div>
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Family Size</label>
      </div>
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Zip Code</label>
      </div>
      <a href="/home"><input type="button" value="Create List"></a>
    </form>
  </div>

</body>
<!-- template from CodingNepal - youtube.com/codingnepal -->

</html>