<!DOCTYPE html>
<!-- template from CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartSnap Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class=home>

  <div class="CartContainer">
    <div>
      <a href="/recommended"><input type="button" class="button" value="Generate another list"></a>
    </div>
    <div>
      <a href="/lists"><input type="button" class="button" value="Past lists"></a>
    </div>
  </div>

</body>
<!-- template from CodingNepal - youtube.com/codingnepal -->

</html>