<!DOCTYPE html>
<!-- template from CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartSnap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class=form>
  <div class="center">
    <h1>Login</h1>
    <form action="/signup" method="post">
      <div class="txt_field">
        <input type="email" name="email" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <!-- <div class="txt_field">
        <input type="password" required>
        <span></span>
        <label>Password</label>
      </div> -->
      <!-- <div class="pass">Forgot Password?</div> -->
      <input type="submit" value="Login">
      <div class="signup_link">
        Not a member? <a href="#">Signup</a>
      </div>
    </form>
  </div>

</body>
<!-- template from CodingNepal - youtube.com/codingnepal -->

</html>