<!DOCTYPE html>
<!-- template from CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartSnap Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class=home>

  <div class="CartContainer">
    <div class="Header">
      <h3 class="Heading">Past Lists</h3>
    </div>
    <div class="title">
      <a href="/home">12/8</a>
    </div>
  </div>

</body>
<!-- template from CodingNepal - youtube.com/codingnepal -->

</html>