<!DOCTYPE html>
<!-- template from CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartSnap Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class=home>

  <div class="CartContainer">
    <div class="Header">
      <h3 class="Heading">Shopping Cart (12/8)</h3>
      <h5 class="Action">Remove all</h5>
    </div>

    <div class="Cart-Items">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/000466634.jpg?v=1649866626"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Apples, bulk</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">2</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$3.34</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>

    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/chicken-thigh-1.jpg?v=1645032607"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Chicken Thighs</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">3</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$18.87</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/Zucchini_Edited-scaled.jpg?v=1662657926"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Zucchini, bulk</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">1</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$1.35</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img
          src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/green-dragon-burpless-cucumber.jpg?v=1649866440"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Cucumbers, bulk</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">1</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$0.80</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/sweet-potatoes-543610.jpg?v=1663033253"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Sweet Potatoes, bulk</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">3</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$2.85</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/4256360011.png?v=1645504625"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Dried Penne</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">3</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$3.00</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/SMpeeledtomat.jpg?v=1648412053"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Whole Peeled Tomatoes</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">4</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$8.64</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div class="Cart-Items pad">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/0577/5120/8132/products/image_2022-11-07_164646445.png?v=1667857608"
          height="120px" />
      </div>
      <div class="about">
        <h1 class="title">Seitan</h1>
      </div>
      <div class="counter">
        <div class="btn">+</div>
        <div class="count">2</div>
        <div class="btn">-</div>
      </div>
      <div class="prices">
        <div class="amount">$9.00</div>
        <div class="save"><u>Save for later</u></div>
        <div class="remove"><u>Remove</u></div>
      </div>
    </div>
    <div>
      <hr>
      <div class="checkout">
        <div class="total">
          <div>
            <div class="Subtotal">Sub-Total</div>
            <div class="items">8 items</div>
          </div>
          <div class="total-amount">$47.85</div>
        </div>
        <a href="/generate"><button class="button">Finalize List</button></a>
      </div>
    </div>
  </div>

</body>
<!-- template from CodingNepal - youtube.com/codingnepal -->

</html>